@font-face {
  font-family: 'Paytone One';
  src: url('./assets/fonts/PaytoneOne.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./assets/fonts/segoe-ui.ttf') format('truetype');
}

html, body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7b7b7b;
  background-color: #f9fafb;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  z-index: 10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-board {
  margin-top: 70px;
}

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  z-index: 99999;
}

.preloader::before {
  width: 0;
}

.preloader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: #f7941d;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.preloader .lds-ripple {
  position: relative;
  width: 55px;
  height: 55px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader .lds-ripple div {
  position: absolute;
  border: 2px dashed #ffffff;
  opacity: 1;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.preloader .lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.logo-image {
  height: 45px;
  width: auto;
}

.banner-area.used-hight {
  height: 800px;
}

.banner-area {
  background-position: center center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #ebf1e5;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  overflow: hidden;
}

.d-table {
  display: table !important;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.banner-content {
  max-width: 645px;
}

.main-title {
  font-weight: 600;
  color: #272835;
  font-family: 'Paytone One', sans-serif;
}

.banner-content h1 {
  font-size: 72px;
  color: #0f1514;
  margin-bottom: 25px;
  font-family: 'Paytone One', sans-serif;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .banner-area .banner-content {
    max-width: 550px;
  }
  .banner-area .banner-content h1 {
    font-size: 65px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-content {
    max-width: 480px;
  }
  .banner-area .banner-content h1 {
    font-size: 55px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-content h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .banner-content h1 {
    font-size: 30px;
    margin-bottom: 18px;
  }
}


@media only screen and (max-width: 767px) {
  .banner-content {
    text-align: center;
  }
}

.banner-content p {
  margin-bottom: 24px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-area.used-hight {
    background-color: #f4f9ef;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-area.used-hight {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .banner-area.used-hight {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 0;
  }
}

.banner-area .banner-img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 680px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .banner-area .banner-img {
    max-width: 630px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-area .banner-img {
    top: 100px;
    max-width: 485px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .banner-area .banner-img {
    position: unset;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 700px;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  .banner-area .banner-img {
    position: unset;
    margin-left: 12px;
    margin-right: 12px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.banner-area .banner-shape-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  max-width: 1065px;
}

.our-mission-area {
  position: relative;
  z-index: 1;
}

.bg-f9fafb {
  background-color: #f9fafb;
}

.section-title.section-title-left {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

.section-title {
  max-width: 700px;
  margin: -7px auto 50px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-100 {
  padding-top: 100px;
}

.section-title h2 {
  font-size: 45px;
  margin-bottom: 15px;
}

.section-title h2:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title h2 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section-title h2 {
    font-size: 25px;
  }
}

.single-mission {
  margin-bottom: 30px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.single-mission h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

p:last-child {
  margin-bottom: 0;
}

.single-mission img {
  margin-bottom: 20px;
}

.copy-right-area {
  text-align: center;
  background-color: #fff;
}

.copy-right-area p {
  border-top: 1px solid #ebecee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-item-responsive {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-link {
  font-weight: 600;
}
.nav-link:hover {
  color: #f7941d!important;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  border: 0px;
}

.auth-wrapper.auth-v1 {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f9fafb;
}

.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh)*100);
  width: 100%;
}

.auth-wrapper .brand-logo {
  margin: 1rem 0 2rem;
  display: flex;
  justify-content: center;
}

.auth-wrapper.auth-v1 .auth-inner {
  max-width: 450px;
}

.auth-wrapper .auth-inner {
  width: 100%;
  position: relative;
}

.auth-wrapper.auth-v1 .register-inner {
  max-width: 550px;
}

.auth-wrapper .register-inner {
  width: 100%;
  position: relative;
}

.auth-wrapper .card-body {
  background-color: white;
  padding: 3em 2em;
  box-shadow: 0 4px 8px 0 rgba(5, 7, 15, 0.2);
}

.auth-wrapper .card {
  border-radius: 0px;
}

.heading-3 {
  color: #05070f;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1.21;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #f7941d;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(34, 41, 47, 0.125);
  border-radius: 0.428rem;
}

.dropdown-item {
  padding: 0.05rem 1.0rem;
  clear: both;
  text-align: inherit;
  background-color: initial;
  border: 0;
}

.dropdown-menu .dropdown-item {
  cursor: pointer;
}

.dropdown-menu {
  z-index: 1000;
}

.form-title {
  margin: 0.5rem 0;
}

.primary-link {
  color: #f7941d;
}

.btn-orange {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f7941d;
  --bs-btn-border-color: #f7941d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #f7941d;
  --bs-btn-hover-border-color: #f7941d;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #f7941d;
  --bs-btn-active-border-color: #f7941d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f7941d;
  --bs-btn-disabled-border-color: #f7941d;
}

.btn-orange:hover {
  background-color: #f7941d;
  border-color: #f7941d;
}

.register-type {
  min-height: 100px;
  border: 2px solid #f7941d;
  border-radius: 10px;
  background-color: #ffffff;
  color: #f7941d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.register-type:hover {
  -webkit-animation: wave 0.5s ease;
  animation: wave 0.5s ease;
  background-color: #f7941d;
  color: #ffffff;
}

@keyframes wave {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

a {
  text-decoration: none;
}

.md-vertical-spacing {
  margin-bottom: 1.5rem;
}

.body-2 {
  color: #282930;
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  line-height: 1.5;
}

.form-label {
  margin-bottom: 0.2rem;
}

.section-title h2 {
  font-family: 'Paytone One', sans-serif;
}

.user-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-item:active, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #f7941d;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.28rem;
  clear: both;
  font-weight: 400;
  color: #6e6b7b;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.active {
  color: #f7941d !important;
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.main-view {
  margin-top: 100px;
  margin-bottom: 100px;
}

.dzu-dropzone {
  border: 2px dashed #efefef !important;
  border-radius: 8px !important;
}

.dzu-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 120px;
  overflow: scroll;
  position: relative;
  box-sizing: border-box;
  transition: all .15s linear;
}

.dzu-dropzone .dzu-inputLabel {
  text-align: center;
  padding: 2rem !important;
}

.dzu-inputLabel, .dzu-inputLabel {
  left: 0;
  right: 0;
}

.dzu-inputLabel {
  cursor: pointer;
}

.dzu-dropzone .dzu-inputLabel {
  color: #181e4b !important;
  font-size: .8rem !important;
  font-weight: 400 !important;
}

.autor-infor {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 196px);
}

@media (max-width: 767px) {
  .autor-links {
    width: 100%;
  }
}

.autor-title a {
  margin-top: 24px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .last-updated-on {
    display: table-header-group;
  }
}

@media (max-width: 767px) {
  .last-updated-on::before {
    content: "------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    max-height: 0;
    overflow: hidden;
    display: block;
    word-break: break-all;
  }
}

.last-updated-on span {
  font-size: 14px;
  margin-top: 12px;
}

.info-details {
  text-align: left;
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}

.info-details p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 26px;
  color: #3a3e46 !important;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 26px !important;
}

@media (max-width: 767px) {
  .info-details {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.author-title {
  font-size: 22px;
  color: #f7941d;
  font-family: 'Paytone One', sans-serif;
}

.auth-label {
  font-weight: 600;
}

.item-img {
  max-height: 250px;
}

.bg-light-success {
  color: #28c76f !important;
  background: rgba(40, 199, 111, 0.12) !important;
}

.bg-light-info {
  color: #00cfe8 !important;
  background: rgba(0, 207, 232, 0.12) !important;

}

.bg-light-primary {
  color: #7367f0 !important;
  background: rgba(115, 103, 240, 0.12) !important;
}

.bg-light-danger {
  background: rgba(234, 84, 85, 0.12) !important;
  color: #ea5455 !important;
}

.bg-light-warning {
  background: rgba(255, 159, 67, 0.12) !important;
}




